@page "/" 
@inject FineTrack.Services.BalanceService BalanceService
<style>
    .dashboard-card {
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-bottom: 20px;
    }

    .dashboard-header {
        display: flex;
        justify-content: space-between;
    }

    .chart-container {
        height: 300px;
    }

    .transaction-list {
        margin-top: 20px;
    }

    .transaction-item {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        border-bottom: 1px solid #eee;
    }

    .donut-inner-text {
        font-size: 3px;
    }

    .donut-total-text {
        font-size: 5px;
        font-weight: bold;
    }
</style>

<div class="container mt-4">
    <h3 style="color:green">Available Balance: @BalanceService.AvailableBalance</h3>

    <div class="row">
        <div class="col-md-4">
            <div class="dashboard-card bg-success text-white text-center">
                <h5>Total Inflows</h5>
                <h2>@BalanceService.TotalInflows</h2>
            </div>
        </div>
        <div class="col-md-4">
            <div class="dashboard-card bg-danger text-white text-center">
                <h5>Total Outflows</h5>
                <h2>@BalanceService.TotalOutflows</h2>
            </div>
        </div>
        <div class="col-md-4">
            <div class="dashboard-card bg-warning text-white text-center">
                <h5>Cleared Debt</h5>
                <h2>@BalanceService.TotalClearedDebt</h2>
            </div>
        </div>
        <div class="col-md-4">
            <div class="dashboard-card bg-warning text-white text-center">
                <h5>Remaining Debt</h5>
                <h2>@BalanceService.TotalPendingDebt</h2>
            </div>
        </div>
        <div class="col-md-4">
            <div class="dashboard-card bg-warning text-white text-center">
                <h5>Total Debt</h5>
                <h2>@BalanceService.TotalDebt</h2>
            </div>
        </div>
    </div>
</Div>

@if (BalanceService.IncomeCategories.Any())
{
    <h3>Custom Income Categories</h3>
    <ul>
        @foreach (var category in BalanceService.IncomeCategories)
        {
            <li>@category</li>
        }
    </ul>
}

@if (BalanceService.ExpenseCategories.Any())
{
    <h3>Custom Expense Categories</h3>
    <ul>
        @foreach (var category in BalanceService.ExpenseCategories)
        {
            <li>@category</li>
        }
    </ul>
}
@code 
{
	protected override async Task OnInitializedAsync()
	{
		await BalanceService.UpdateAvailableBalanceAsync();
		await BalanceService.UpdateTransactionCategoriesAsync();

	}




}
